body {
    background-color: white;
}

.navbar-brand {
    padding-top: .33rem;
    padding-bottom: .33rem;
    margin-right: 1rem;
    font-size: 2.0rem;
    text-decoration: none;
    white-space: nowrap;
}

.container {
    margin: 30px;
}

.navbar-light {
    margin-bottom: 10px;
}

#main {
    margin-bottom: 10px;
}

.uv-go-home {
    font-weight: bold;
    color: purple;
}

.uv-danger {
    font-weight: bold;
    color: red;
}

.uv-medium {
    font-weight: bold;
    color: rgb(253, 216, 5)
}

.uv-safe {
    font-weight: bold;
    color: rgb(22, 180, 22)
}